@using ASPRazor_Partial
@model Product
<div class="card" style="width: 320px;">
    <div class="card-header text-primary"><h1>@Model.Name</h1></div>

    <div class="card-body">
        <h5 class="card-text">Price: @Model.Price</h5>
        <p class="card-text">@Model.Description</p>

        <a href="#" class="btn btn-primary">Dat hang</a>
    </div>

</div>