@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1 style="color: red;">Trang chu dich vu cua Tran Dinh Khanh</h1>
<a asp-page="dichvu1">Dich vu 1</a> <br>
<a asp-page="/sanphammoi" asp-area="Products">San pham moi</a>